@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu.ttf");
}
html,body{
	margin:0;
	padding:0;
	height:100%;
}

body{
	font-size:14px;
	font-family:"Ubuntu";	
	background:#f7f6f2 url("../img/background.jpg") no-repeat;
}
a{
	color:#a47003;
}
a:hover{
	color:#d7ba08;
	text-decoration:none;
}
.wrapper {
	min-height:100%;
	position:relative;
	background:url("../img/background-bottom.jpg") no-repeat bottom right;
}
.header{
	background:#fff url('../img/header-bg.jpg') repeat-x bottom;
}
.menu{
	background:url('../img/menu-bg.jpg') repeat-y;
	background-size: 100% 100%;
	border-bottom:2px solid #a47003;
}
.menu .container{
	padding:0px;
}
.container{
	/*background:#fff;*/
	padding-bottom:25px;
}
.form-signin{
	margin-top:50%;
}
.top-bar{
	text-align:right;
	padding:10px 0px;
}
.navbar{
	margin-bottom: 0px;
}
.navbar-default .navbar-brand{
	color:#fff;
	font-weight:bold;
	text-shadow:0px 2px 2px #000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-brand:hover{ color:#fff;}
.navbar-default .navbar-nav > li > a {color:#fff; text-shadow:2px 1px 1px #000;}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{ background:#ffe724; text-shadow:0px 2px 0px #fff;}
.navbar-default{

	background:url('../img/menu-bg.jpg') repeat-y;

	border:none;
	border-radius:0px;
}
input#searchid{
	background:#fff url("../img/search.png") no-repeat scroll 0% 5px;
	padding-left:24px;
}
.form-control,.btn{
	border-radius:0px !important;
}
.data-area{
	background:rgba(255,255,255,0.78);
	padding:15px;
	margin-top:25px;
	margin-bottom:25px;
	border:3px solid #f2f2f2;
	border-radius:4px;
}
.ticket-title{
	text-align:center;
	border-width:2px 0px;
	border-style:solid;
	border-color:#ccc;
	padding:5px 0px;
}
.article-table{

}
.page-title{
	text-align:center;
	margin-bottom:25px;
	padding:10px;
	text-transform:uppercase;
}
#result{
    position:absolute;
    width:300px;
    padding:10px;
    display:none;
    margin-top:-1px;
    border-top:0px;
    overflow:hidden;
	border:1px #CCC solid;
    background-color: white;
	z-index:100;
}
.show
    {
    /*border-bottom:1px #cccccc dashed;*/
    font-size:14px; 
    height:auto;
	margin:5px 0px;
	padding:10px 0px;
}
.show:hover
    {
    background:#f8f8f8;	
	border-left:3px solid #D7B345;
	padding-left:3px;
}
.footer{
	clear:both;
	width:100%;
	/*height:80px;*/
	position:fixed;
	bottom:0;
	/*left:0;*/
	/*background:#e7e7e7;*/
	margin-top:20px;
	z-index:1000;
}
.footer-content{
	text-align:center;
}

.highlight{
	background:#444;
	color:#fff;
}
.data-line{
	padding:3px;
	margin-bottom:5px;	
}
.data-line span{
	display:inline-block;
	width:50%;
}
.span-right{
	float:right;
}

/* Styling for system success and failed messages*/
.successmsg,.failedmsg{
	padding:10px 45px 10px;
	color:#fff;
	margin-bottom:20px;
	font-weight:bold;
}
.successmsg{
	background:#47b14a url("../img/success.png") no-repeat 5px 5px;
}
.failedmsg{
	background:#ffad1b url("../img/failed.png") no-repeat 5px 5px;
}

/* Styling for daily reports page */
#report .col-md-8,#report .col-md-12{
	padding:10px 15px;
	background:#fcfcfc;
	border-radius:4px;
	border:1px solid #f2f2f2;
}

#report .pawned { border-bottom:3px solid #09cc1b;}
#report .cancelled { border-bottom:3px solid #dffd55;}
#report .payment { border-bottom:3px solid #0945cc;}
#report .redeemed { border-bottom:3px solid #09c1cc;}
#report .auction-mark { border-bottom:3px solid #ff0000;}
#report .auction-unmark { border-bottom:3px solid #ff6600;}

.minus, .plus { font-weight:bold;}
.minus {color:red;} 
.plus {color:green;}

.redeem{
	background:#47b14a url("../img/success.png") no-repeat center;
}
.overdue{
	background:#ffad1b url("../img/failed.png") no-repeat center;
}
.auctioned{
	background:#ff0000 url("../img/auctioned.png") no-repeat center;
}

.big-down-space{
	margin-bottom:72px;
}
#progress{
	text-align:center;
}

/* popup CSS */
.modalReference {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(173,101,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalReference:target {
	opacity:1;
	pointer-events: auto;
}

.modalReference > div {
	width: 60%;
	position: relative;
	margin: 2% auto;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	/*height:500px;
	overflow: scroll;
	/*background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);*/
}

.close {
	background: #FFFFFF;
	color: #222222	;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	opacity:1;
}

.close:hover { background: #FFFFFF; }

input:required:invalid, input:focus:invalid {
	border:1px solid red;
}
input:required:valid {
	border:1px solid green;
}

.bg-red{
	background:#ff0000 !important;
}

.double-line{
	border-bottom:3px double #444;
}
.top-line{
	border-top:2px solid #444 !important;
}